<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="footer">
    <div class="container">
        <div class="col1">
            <a href="#" class="brand">Connect with us </a>
            <ul class="media-icons">
                <li>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-discord"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </li>
            </ul>
        </div>
        <div class="col2">
            <ul class="menu">

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem excepturi ipsam unde obcaecati iusto velit labore consequuntur officiis aut neque?</p>
            </ul>
        </div>
        <div class="col3">
            <p>Subscribe to our videos</p>
            <form>
                <div class="input-wrap">
                    <input type="email" placeholder="ex@gmail.com" /><button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>
            <ul class="services-icons">
                <li>
                    <a href="#"><i class="fa-brands fa-cc-paypal"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-cc-apple-pay"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-google-pay"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa-brands fa-cc-amazon-pay"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="mekk">
            <p>@MeTube 2024 - All Rights Reserved</p>
        </div>
    </div>
</footer>
</body>
</html>