<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="header_container">
        <h2> <span class="logo_name">
            <a href="http://localhost:3000/home">
                    <img src="/css/Screenshot%202024-04-10%20193643.png" alt="">
            <!--                <img src="images/sex-position.png" alt="" style="max-width: 20%"-->
            <!--                >-->
                </a>
               MeTube
             </span></h2>
        <div class="none"> </div>

        <div class="search">
            <input type="text" placeholder="Search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="user">
            <div class="icon">

                <div class="theme-toggle">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <i class="fa-solid fa-video"></i>

                <i class="fa-solid fa-bell"></i>
            </div>

            <div class="img" style="        position: relative;
">
                <img src="/css/logo.png" alt="">
                <ul class="profile-link">
                    <li><a href="#"> <i class="fa-solid fa-gear"></i> Setting</a></li>
                    <li><a href="#"> <i class="fa-solid fa-circle-info"></i> Support</a></li>
                    <li><a href="#"> <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
                </ul>
            </div>
        </div>

        <div class="toggle">
            <i class="fa-solid fa-bars" id="header-toggle"></i>
        </div>
    </div>
</header>
</body>
</html>