<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="nav" id="navbar">
    <nav class="nav_container">
        <div>
            <a href="http://localhost:3000/home" class="nav_link nav_logo ">
                <i class="fa-solid fa-bars nav_icon"></i>
                <h2> <span class="logo_name">
                    <img src="/css/Screenshot%202024-04-10%20193643.png" alt="">
                <!--                <img src="images/sex-position.png" alt="" style="max-width: 20%"-->
                <!--                >-->
MeTube             </span></h2>
            </a>

            <div class="nav_list">
                <div class="nav_items navtop">
                    <a href="http://localhost:3000/home" class="nav_link navtop ">
                        <i class="fa-solid fa-house nav_icon "></i>
                        <span class="nav_name">Home</span>
                    </a>
                    <a href="/categorys" class="nav_link navtop active">
                        <i class="fa-solid fa-list nav_icon"></i>
                        <span class="nav_name">Category</span>
                    </a>
                    <a href="/videos" class="nav_link navtop">
                        <i class="fa-brands fa-youtube nav_icon"></i>
                        <span class="nav_name">Videos</span>
                    </a>
                    <a href="/accounts" class="nav_link navtop">
                        <i class="fa-solid fa-user nav_icon"></i>
                        <span class="nav_name">Accounts</span>
                    </a>
                    <a href="List2.html" class="nav_link navtop">
                        <i class="fa-solid fa-video nav_icon"></i>
                        <span class="nav_name">Library</span>
                    </a>
                    <a href="#" class="nav_link navtop">
                        <i class="fa-solid fa-clock-rotate-left nav_icon"></i>
                        <span class="nav_name">History</span>
                    </a>
                    <a href="#" class="nav_link navtop">
                        <i class="fa-solid fa-thumbs-up nav_icon"></i>
                        <span class="nav_name">Like</span>
                    </a>

                    <div class="nav_dropdown">
                        <a href="#" class="nav_link">
                            <i class="fa-solid fa-chevron-down nav_icon"></i>
                            <span class="nav_name">Show More</span>
                        </a>

                        <div class="nav_dropdown-collapse">
                            <div class="nav_dropdown-content">
                                <a href="#" class="nav_dropdown-item">Grid Box</a>
                                <a href="#" class="nav_dropdown-item">Frontend Design</a>
                                <a href="#" class="nav_dropdown-item">Backend Design</a>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="nav_link">
                        <i class="fa-solid fa-comment nav_icon"></i>
                        <span class="nav_name">Messages</span>
                    </a>
                </div>

                <div class="nav_items subscribe-container">
                    <h3 class="nav_subititle">SUBSCRIPTIONS</h3>

                    <a href="#" class="nav_link">
                        <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-people-victoruler-flat-victoruler-5.png" alt="">
                        <span class="nav_name">Ngọc Trinh</span>
                    </a>
                    <a href="#" class="nav_link">
                        <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-occupation-and-people-victoruler-flat-victoruler.png" />
                        <span class="nav_name">Lê Bống</span>
                    </a>
                    <a href="#" class="nav_link">
                        <img class="subscribe" src="https://img.icons8.com/external-victoruler-linear-colour-victoruler/64/000000/external-boy-children-avatar-victoruler-linear-colour-victoruler-2.png" />
                        <span class="nav_name">Maria</span>
                    </a>
                    <a href="#" class="nav_link">
                        <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-children-avatar-victoruler-flat-victoruler-12.png" />
                        <span class="nav_name">Thúy Liễu</span>
                    </a>


                    <div class="nav_dropdown">
                        <a href="#" class="nav_link">
                            <i class="fa-solid fa-chevron-down nav_icon"></i>
                            <span class="nav_name">Show 3 More</span>
                        </a>

                        <div class="nav_dropdown-collapse nav_dropdown-second">
                            <div class="nav_dropdown-content">
                                <a href="#" class="nav_dropdown-items">
                                    <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-children-avatar-victoruler-flat-victoruler-12.png" />
                                    <span class="nav_name">Thúy Liễu</span>
                                </a>
                                <a href="#" class="nav_dropdown-items">
                                    <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-children-avatar-victoruler-flat-victoruler-12.png" />
                                    <span class="nav_name">Thúy Kiều</span>
                                </a>
                                <a href="#" class="nav_dropdown-items">
                                    <img class="subscribe" src="https://img.icons8.com/external-victoruler-flat-victoruler/64/000000/external-boy-children-avatar-victoruler-flat-victoruler-12.png" />
                                    <span class="nav_name">Ngọc Nữ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</section>

</body>
</html>