<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="/css/list2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <!-- == icon == -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- == css == -->
    <!--    <link rel="stylesheet" href="css/single.css">-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet">
    <link type="images/png" rel="icon" href="/css/Screenshot%202024-04-10%20193643.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />

</head>
<body>

<!--    header      -->
<div th:insert="~{/fragments/header :: header }"></div>
<div th:insert="~{/fragments/navbar :: #navbar }"></div>
<!--    header      -->


<!--    nav      -->


<main class="single_pages">
    <section class="video_items flex">
        <div class="left">
            <div class="left_content">

                <form th:action="@{/create-category}" th:object="${category}" method="post">

                                       <h3>Title :</h3>
                    <input type="text" class="title" placeholder="Enter Title" th:field="*{name}" required ><br><br>
                    <h3>Category :</h3>


                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="right">
            <div class="right_content">
                <div class="recent-updates">
                    <h2>Recent Updates</h2>
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-2%20-%20Copy.jpg"class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-3.jpg" class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-4.jpg"class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<div th:insert="~{/fragments/footer :: footer }"></div>

</body>
<div th:insert="~{/fragments/script :: script }"></div>

</html>




















































































































































































































































































































































































































