<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/hi.css}">-->
<!--</head>-->
<!--<body>-->
<!--<from>-->
<!--    <label for="email">Email :</label>-->
<!--    <input type="text" name="email" id ="email">-->
<!--    <label for="pass">Pass :</label>-->
<!--    <input type="text" name="pass" id="pass">-->

<!--<input type="submit"value="hi">-->
<!--</from>-->
<!--</body>-->
<!--</html>-->