<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xóa danh mục</title>
</head>
<body>
<h1>Xóa danh mục</h1>
<h2>Xóa hay không?</h2>
<p>
    <a href="/categorys">Quay về list danh mục</a>
</p>
<form th:action="@{/delete-category}" th:object="${category}" method="post">
    <input type="hidden" th:field="${category.category_id}"/>
    <table>
        <tr>
            <td>CategoryName:</td>
            <td th:text="${category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>