<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xóa danh mục</title>
</head>
<body>
<h1>Xóa danh mục</h1>
<h2>Xóa hay không?</h2>
<p>
    <a href="/videos">Quay về list danh mục</a>
</p>
<form th:action="@{/delete-video}" th:object="${video}" method="post">
    <input type="hidden" th:field="${video.video_id}"/>
    <table>
        <tr>
            <td>Title:</td>
            <td th:text="${video.title}"></td>
        </tr> <tr>
            <td>Description:</td>
            <td th:text="${video.description}"></td>
        </tr> <tr>
            <td>Upload_date:</td>
            <td th:text="${video.upload_date}"></td>
        </tr> <tr>
            <td>Url:</td>
            <td th:text="${video.url}"></td>
        </tr> <tr>
            <td>Thumbnail:</td>
            <td th:text="${video.thumbnail}"></td>
        </tr><tr>
            <td>Category:</td>
            <td th:text="${video.category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>