<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<h1>Edit category</h1>
<p>
    <a href="/categorys">Quay về list danh mục</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-category}" th:object="${category}" method="post">
    <input type="hidden" name="id" th:field="${category.category_id}"/>
    <table>
        <tr>
            <td>CategoryName:</td>
            <td><input type="text" th:field="${category.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update category"></td>
        </tr>
    </table>
</form>
</body>
</html>