<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit category</title>
</head>
<body>
<h1>Edit category</h1>
<p>
    <a href="/videos">Quay về list video</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-video}" th:object="${video}" method="post">
    <input type="hidden" name="id" th:field="${video.video_id}"/>
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="${video.title}"></td>
        </tr> <tr>
            <td>Description:</td>
            <td><input type="text" th:field="${video.description}"></td>
        </tr> <tr>
            <td>Upload_date:</td>
            <td><input type="date" th:field="${video.upload_date}"readonly></td>
        </tr> <tr>
            <td>Url:</td>
            <td><input type="file" th:field="${video.url}" ></td>
        </tr> <tr>
            <td>Thumbnail:</td>
            <td><input type="file" th:field="${video.thumbnail }" ></td>
        </tr> <tr>
            <td>Category:</td>
            <td><select name="category">
                <option th:each="c : ${categorys}"
                        th:value="${c.category_id}"
                        th:text="${c.name}"
                        th:selected="(${c.category_id} == *{category.category_id})"></option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update category"></td>
        </tr>
    </table>
</form>
</body>
</html>