<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube</title>
    <link rel="stylesheet" href="/css/list1.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet">
    <link type="images/png" rel="icon" href="/css/Screenshot%202024-04-10%20193643.png">

</head>
<body>

<!--    header      -->
<div th:insert="~{/fragments/header :: header }"></div>
<div th:insert="~{/fragments/navbar :: #navbar }"></div>
<!--    header      -->


<!--    nav      -->

<main class="single_pages">
    <section class="video_items flex">
        <div class="left">
            <div class="left_content">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="modal-icon"style="display: flex;">
                            <p id="modalMessage"></p>
                            <i class="fa-solid fa-check-circle"style="color: green;margin-top: 5px;
  margin-left: 10px;"></i>
                        </div>

                    </div>
                </div>

                <form th:action="@{/accounts}" method="get">

                    <p>You can search for accounts by  name  using the boxes below</p>
                    <div class="filter" style="display: flex">


                        <div class="search">
                            <input type="text"name="s" placeholder="Search" style="background: transparent;color: var(--color-dark)">
                        </div>


                        <button type="submit" value="button">                    <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </form>

                <div class="recent-orders">
                    <table>
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>


                        </tr>
                        </thead>
                        <th:block th:each="account : ${accounts}">
                            <tr>
                                <td th:text="${account.account_id}"></td>
                                <td th:text="${account.userName}"></td>







                            </tr>
                        </th:block>
                    </table>


                </div>


            </div>
        </div>

        <div class="right">
            <div class="right_content">
                <div class="recent-updates">
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-2%20-%20Copy.jpg" class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-3.jpg" class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-4.jpg" class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<div th:insert="~{/fragments/footer :: footer }"></div>


</body>
<div th:insert="~{/fragments/script :: script }"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var msg = /*[[${msg}]]*/ null;
    if (msg != null) {
        var modalMessage = document.getElementById("modalMessage");
        modalMessage.innerHTML = msg;
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    }
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function() {
        var closeButton = document.getElementsByClassName("close")[0];
        closeButton.addEventListener("click", function() {
            closeModal();
        });
    });
    /*]]>*/
</script>



</html>




















































































































































































































































































































































































































