<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MeTube</title>
    <link rel="stylesheet" href="/css/list1.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet">
    <link type="images/png" rel="icon" href="/css/Screenshot%202024-04-10%20193643.png">

</head>
<body>

<!--    header      -->
<div th:insert="~{/fragments/header :: header }"></div>
<div th:insert="~{/fragments/navbar :: #navbar }"></div>
<!--    header      -->


<!--    nav      -->

<main class="single_pages">
    <section class="video_items flex">
        <div class="left">
            <div class="left_content">
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div class="modal-icon"style="display: flex;">
                            <p id="modalMessage"></p>
                            <i class="fa-solid fa-check-circle"style="color: green;margin-top: 5px;
  margin-left: 10px;"></i>
                        </div>

                    </div>
                </div>

                <form th:action="@{/videos}" method="get">

<p>You can search for videos by posting date, name or category using the boxes below</p>
                    <div class="filter" style="display: flex">
                        <input type="hidden" name="page" th:value="${param.page}">
                        <input type="hidden" name="size" th:value="${size}">
                        <div class="date">
                            <input type="date" name="upload_date" th:value="${param.upload_date}">
                        </div>
                        <div class="search">
                            <input type="text"name="title" placeholder="Search" style="background: transparent;color: var(--color-dark);"th:value="${param.title}">
                        </div>
                        /
                        <div class="custom-select">
                            <select name="category">
                                <option value="">Select category</option>
                                <option th:each="c:${categorys}"
                                        th:value="${c.name}"
                                        th:text="${c.name}"    >        </option>

                            </select>
                            <div class="select-icon">
                                <i class="fa-solid fa-caret-down"></i>
                            </div>
                        </div>
                        <div class="item add-product">
                            <a href="/create-video">
                            <div>
                                <span class="material-icons-sharp">add</span>
                                <p>Add Video</p>
                            </div>
                            </a>
                        </div>
                        <button type="submit" value="button">                    <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>

                </form>
                <div th:if="${#lists.isEmpty(videos
                )}">
                    <p>Không tìm thấy kết quả</p>
                </div>
<div th:if="${not #lists.isEmpty(videos)}">
    <div class="recent-orders">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Upload_date</th>


                <th>Category</th>
                <th style="display: flex;  justify-content: center;">Action</th>
            </tr>
            </thead>
            <th:block th:each="video : ${videos}">
                <tr>
                    <td th:text="${video.video_id}"></td>
                    <td th:text="${video.title}"></td>
                    <td th:text="${video.description}"></td>
                    <td th:text="${video.upload_date}"></td>




                    <td th:text="${video.category.name}"></td>

                    <td style="display: flex;">
                        <a  th:href="@{/edit-video/__${video.video_id}__ }"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a    th:href="@{/delete-video/__${video.video_id}__ }"onclick="return confirm('Are you sure you want to delete?');"><i class="fa-solid fa-x"></i></a>
                        <a th:href="@{/download-video/__${video.video_id}__ }"><i class="fa-solid fa-download"></i></a>
                        <a th:href="@{http://localhost:3000/detail/__${video.video_id}__ }"><i class="fa-solid fa-eye"></i></a>
                    </td>
                </tr>
            </th:block>
        </table>


    </div>

</div>

                <div class="pagination">

                    <ul class="pagination pagination-sm m-0 float-right">
                        <li class="page-item"><a class="page-link" th:href="@{/videos(page = 0, size = ${size})}">First</a>
                        </li>
                        <li th:each="i:${#numbers.sequence(pageBegin, pageEnd)}" class="page-item">

                            <a class="page-link" th:text="${i}"
                               th:href="${uriBuilder.replaceQueryParam('page', i - 1).toUriString()}"></a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 th:href="@{/videos(page = ${totalPages - 1}, size = ${size}, title = ${param.title}, upload_date = ${param.upload_date})}">Last</a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>

        <div class="right">
            <div class="right_content">
                <div class="recent-updates">
                    <div class="updates">
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-2%20-%20Copy.jpg"class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-3.jpg" class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>
                        <div class="update">
                            <div class="profile-photo">
                                <img src="/css/profile-4.jpg"class="account">

                            </div>
                            <div class="message">
                                <p><b>Mike Tyson</b> : just posted a new video on the channel</p>
                                <small class="text-muted">2 Minutes</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<div th:insert="~{/fragments/footer :: footer }"></div>


</body>
<div th:insert="~{/fragments/script :: script }"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var msg = /*[[${msg}]]*/ null;
    if (msg != null) {
        var modalMessage = document.getElementById("modalMessage");
        modalMessage.innerHTML = msg;
        var modal = document.getElementById("myModal");
        modal.style.display = "block";
    }
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function() {
        var closeButton = document.getElementsByClassName("close")[0];
        closeButton.addEventListener("click", function() {
            closeModal();
        });
    });
    /*]]>*/
</script>



</html>




















































































































































































































































































































































































































